@keyframes burgerFadeThirdLine {
  from {
    transform: translate(0, 0) rotate(0);
  }
  to {
    transform: translate(-5px, -10px) rotate(45deg);
  }
}

@keyframes burgerFadeFirstLine {
  from {
    transform: translate(0, 0) rotate(0);
  }
  to {
    transform: translate(-5px, 10px) rotate(-45deg);
  }
}

@keyframes burgerFadeSecondLine {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}


.topNavigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;

  nav {
    width: 100%;
    max-width: 600px;
    padding: 0;
    margin: 0 0 0 auto;

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 600px;
      height: 87px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      list-style: none;

      li {
        width: 100%;
        max-width: 150px;
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          width: 100%;
          max-width: 150px;
          text-decoration: none;
          color: #3a3a3a;
          font-size: 12px;
          font-weight: 800;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          &:hover {
            background: #E8E8E8;
            color: #33ff00;
            text-shadow: none;
            border-bottom: 2px solid #33ff00;
            transition-delay: 0.5ms;
          }

          &::after {
            color: #aeaeae;
            content: attr(data-description);
            font-size: 11px;
            font-style: italic;
            font-weight: 400;
            display: block;
            line-height: 0;
            margin: 3px 0 -3px;
            text-align: center;
            text-transform: lowercase;
          }
        }
      }
    }
  }
  .drawer.close {
    display: none;
  }
}


@media only screen and (max-width: 768px) {
  .topNavigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;

    a {
      padding: 0;

      img {
        width: 100%;
        max-width: 120px;
      }
    }

    nav {
      width: 100%;
      max-width: 450px;

      ul {
        li {
          a {
            width: 100%;
            max-width: 150px;
            text-decoration: none;
            color: #3a3a3a;
            font-size: 12px;
            font-weight: 800;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            &:hover {
              background: #E8E8E8;
              color: #33ff00;
              text-shadow: none;
              border-bottom: 2px solid #33ff00;
              transition-delay: 0.5ms;
            }

            &::after {
              color: #aeaeae;
              content: attr(data-description);
              font-size: 11px;
              font-style: italic;
              font-weight: 400;
              display: block;
              line-height: 0;
              margin: 3px 0 -3px;
              text-align: center;
              text-transform: lowercase;
            }
          }
        }
      }
    }
    .drawer.close {
      display: none;
    }
  }
}

@media screen and (max-width: 375px) {
  .topNavigation {
    position: relative;

    a {
      display: none;
    }

    nav {
      display: none;
    }

    .hamburgerMenu {
      z-index: 9999;
      margin: 20px 20px 10px auto;
      height: 25px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      div {
        background: #33ff00;
        height: 3px;
        width: 25px;
        border-radius: 2px;
      }
    }

    .hamburgerMenu-active {
      position: fixed;
      margin-left: 330px;
      z-index: 9999;
      .line1 {
        transform: translate(-5px, 10px) rotate(-45deg);
        animation: burgerFadeFirstLine 0.7ms ease-in;
        transition-delay: 0s;
      }

      .line2 {
        animation: burgerFadeSecondLine 0.7ms forwards;
        transition-delay: 0s;
      }

      .line3 {
        transform: translate(-5px, -11px) rotate(45deg);
        animation: burgerFadeThirdLine 0.7ms ease-in;
        transition-delay: 0s;
      }
    }

    .drawerIsOpened {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      max-width: 375px;
      padding: 20px 10px;
      box-sizing: border-box;
      background: #fff;
      transform: translateX(0px);
      transition: transform .22s ease-in-out;
      transition-duration: 2s;
      transition-delay: 2s;
      z-index: 90;

      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        height: 75vh;
        width: 100%;
        max-width: 375px;
        li {
          max-width: 375px;
          margin: auto;
          a {
            width: 100%;
            max-width: 150px;
            text-decoration: none;
            color: #3a3a3a;
            font-size: 12px;
            font-weight: 800;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            &:hover {
              background: #E8E8E8;
              color: #33ff00;
              text-shadow: none;
              border-bottom: 2px solid #33ff00;
              transition-delay: 0.5ms;
            }

            &::after {
              color: #aeaeae;
              content: attr(data-description);
              font-size: 11px;
              font-style: italic;
              font-weight: 400;
              display: block;
              line-height: 0;
              margin: 3px 0 -3px;
              text-align: center;
              text-transform: lowercase;
            }
          }
        }
      }
    }
  }
}